.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.background.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    min-width: 250px;
    max-width: 400px;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6A6C9;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin: 25px auto 0;
    font-weight: bold;
    cursor: pointer;
}